In [15]:
# Implement a linear regression model to predict the prices of houses based on their square footage and the number of bedrooms and bathrooms.
# Dataset: - https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data

# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Load the dataset
data = pd.read_csv('train.csv')
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [16]:

# Selecting relevant columns
selected_columns = ['GrLivArea', 'BedroomAbvGr', 'FullBath', 'SalePrice']
data_selected = data[selected_columns]

# Check for missing values
missing_values = data_selected.isnull().sum()

# If there are any missing values, print the number of missing values for each column
missing_values

GrLivArea       0
BedroomAbvGr    0
FullBath        0
SalePrice       0
dtype: int64

In [17]:
# Splitting the data into features (X) and target (y)
X = data_selected[['GrLivArea', 'BedroomAbvGr', 'FullBath']]
y = data_selected['SalePrice']

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Training the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predicting on the test set
y_pred = model.predict(X_test)

# Evaluating the model using Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)
mse

2806426667.2478504

In [19]:
from sklearn.metrics import r2_score

# Calculating the R^2 score
r2 = r2_score(y_test, y_pred)

print("R^2 score:", r2)

R^2 score: 0.6341189942328375

In [20]:
# predicting the price of a house with 2000 sqft, 3 bedrooms, and 2 bathrooms
price = model.predict([[2000, 3, 2]])
print("Predicted price:", price[0])

Predicted price: 240377.5147973629

/opt/homebrew/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [23]:
# predict using the test dataset
y_pred = model.predict(X_test)

# print the first 5 actual prices
print("Actual prices:", y_test[:5].values)

# print the first 5 predicted prices
print("Predicted prices:", y_pred[:5])

Actual prices: [154500 325000 115000 159000 315500]
Predicted prices: [113410.67255298 305081.87775899 135904.78562983 205424.67564124
 227502.68349004]